/* *{
    background: rgb(245, 240, 240);
} */

/* .body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    padding: 20px;
}
.inp{
       width: 120px;
       margin: 10px;
}
#btn{
    width: 60px;
    
} */